<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Collection Shift</h1>
        <h2>Calculation Complete!</h2>
        <p>
        Your requested shift calculation has completed, and is available
        <%= link_to 'here', calculation_result_url(@calculation, @calculation.result) %>.
        </p>
        <p>Have fun,<br />&nbsp;&nbsp;&nbsp;&nbsp;Collection<em>Shift</em></p>
    </body>
</html>
